<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showe all users</title>
    <style>
        table, 
        th,
        td{
             border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>email</th>
            <th>username</th>   
        </tr>
        <% for (user of results){ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.username %></td>
                <!-- for edit route -->
                 <td>
                    <form method="get" action="/user/<%=user.id%>/edit">
                        <button>Edit username</button>
                    </form>
                 </td>
            </tr>
        <% } %>
    </table>
</body>
</html>


