body{
    margin-left: 20px;
}
.chat {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}

.msg {
    background-color: rgb(196, 199, 255);
    color: rgb(19, 5, 5);
    padding: 5px 15px;
    border-radius: 16px;

}