<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice Game</title>
</head>
<body>
    <h1>Dice gave value
                                      <!-- gen random value for dice , bt jb database se aayega to
                                          to index.js me aayega ana vartiable store kro-->
        <!-- <%= Math.floor(Math.random()*6)+1 %> -->
          <%= num %>
    </h1>
</body>
</html> -->

 

                                <!-- ---Applying Conditional statements in Ejs--- -->
       



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice Game</title>
</head>
<body>
    <h1>Dice gave value  :         </h1>
    <% if(diceval==6){ %>
        <h2>Nice!! Roll dice again.</h2>
        <% } %>
</body>
</html>