<!-- instagram.ej ka kuch code yaha likhee hai  -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram page</title>
<!-- styling -->
                              <!-- ab hm alg se file bnaaye hai css ke liye by using static file serving -->
 <!-- <style>
    img {
        height:100px;
        width:100px;
    }
 </style> -->


                                         <!-- yaha path me public folder nii likhna hota,by default index.js me btaa chucke hai public folder so serve kr dega -->
 <link rel="stylesheet" href="/style.css">

 

</head>