<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO Account</title>
</head> -->


<!-- or  qki upr wala code hi isi location pe hai so include krdo -->



<%- include("include/head.ejs") %>

<body>
    <h1>No Such Account</h1>
    <%- include("include/footer.js") %> 
</body>
</html>